body {
    color: #333;
    background-color: #d8d8d8;
    margin: auto;
}
body.plaintextViewer{
    margin: auto;
    padding: 1em;
}
body.plaintextViewer header{
    border-bottom: dashed 1px gray;
}
body.plaintextViewer  footer{
    border-top: 1px dashed gray;
    font-style: italic;
}
p.plaintextDescription {
    font-style: italic;
}

a {
    color: #000;
    text-decoration: none;
}
a:hover {
    background-color: #FFF;
}
/* IMAGE PAGES */
.imagepage main{
    max-width: 7in;
    margin: auto;
}
.imagepage nav{
    background-color: #ddd;
}
.imagepage figure{
    background-color: #bbb;
}
.imagepage img{
    filter: drop-shadow(10px 10px 10px #888);
    cursor: crosshair;
}
.imagepage footer{
    text-align: right;
    font-size: smaller;
}
.plaintext{
    padding: 1em;
    white-space: pre-wrap;
    font-family: monospace;
}
li > .json-object, li > .json-array { padding: 0.1em 0em 0.1em 1.5em; }
.json-object, .json-array { list-style: none; padding: 0em; margin: 0.1em;}
.json-object{ background-color: #ddd;  font-size: 12px; font-family: sans-serif;}
.json-object li,.json-array li { margin: 0.2em 0em; padding: 0.1em 0em 0em 0.3em; background-color: #ccc;}
.json-array{ background-color: #ccc;}
.json-key{ color: #000;}
.json-value{ color: #444;}

