
.flap { position: fixed; right: 0px; top: 0px; max-height: 99vh; overflow: auto; background-color: rgba(196,196,196,0.85); border-left: solid rgba(127, 127, 127, 0.3) 1px; border-bottom: solid rgba(127, 127, 127, 0.66) 1px; max-width: 500px; padding: 0.5em 1em;}
      .flap section header, .flap section pre{ padding: 0.2em; }
      figure { padding: 0px; margin: 0px;  transition: all 0.5s;}
      figure.fitview { max-width: 100vw; max-height: 99vh; }
      figure.fullview {  }
      figure img{ transition: all 0.5s; }
      figure img.fitview { max-width: 99vw; max-height: 99vh;}
      figure img.fullview { }
      #info { margin-left: 2em;  transition: all 0.5s;}
      section header { background-color: rgba(127,127,127,0.5); color: white; margin: 0.2em 0em}
      pre { white-space: pre-wrap; }
      .notice { font-style: italic; font-size: smaller; padding: 0.5em}
.toggle {margin: 0.2em; border: 0px; padding: 0em; background-color: transparent; vertical-align: baseline;}
.toggle:hover { background-color: #333; color: #ddd;}
footer { font-size: smaller; text-align: right; padding: 0.2em;}
audio { width: 100%; margin-top: 1em;}